version: '3.8'
services:
  api:
    container_name: "nest-cicd-${NODE_ENV:-dev}"
    image: "nest-cicd-${NODE_ENV:-dev}"
    environment:
      - NODE_ENV=${NODE_ENV:-dev}
      - DB_USER=${MYSQL_USER:-user}
      - DB_PASS=${MYSQL_PASSWORD:-pass1234}
      - DB_NAME=${MYSQL_DATABASE:-nest_cicd}
      - DB_HOST=${DB_HOST:-mysql}
    build: . 
    ports:
      - 3000:3000
    networks:
      - nesjs-network
    restart: unless-stopped
    depends_on:
      - mysql
  mysql:
    image: mysql
    ports:
      - 3306:3306
    environment: 
      - MYSQL_USER=${MYSQL_USER:-user}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-pass1234}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-nest_cicd}
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD:-pass1234}
    networks:
      - nesjs-network

networks:
  nesjs-network: